body {
  background-color: black;
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-family: 'VT323', monospace;
  color: white;
}

body > main table {
  user-select: none;
  transition: filter 5s ease;
  filter: none;
  & td {
    background-color: rgb(51, 51, 51);
    width: 30px;
    height: 30px;
    border: 1px solid black;
  }
}

body > main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body.lost > main table {
  filter: grayscale(1);
}

#instructions {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  font-size: 22px;
  padding-bottom: 30px;
  & td {
    padding-left: 30px;
  }
}

main header {
  display: flex;
  width: calc(8 * 36px);
  font-size: 48px;
}

#score {
  width: 50%;
  text-align: right;
}

#time {
  width: 50%;
  text-align: left;
}