body {
  background-color: black;
}

table {
  user-select: none;
  & td {
    background-color: rgb(51, 51, 51);
    width: 30px;
    height: 30px;
    border: 1px solid black;
  }
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}